* {
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.anchor-pane {
    -fx-background-color: linear-gradient(to bottom right, cyan, magenta);
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: lightgray;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: darkgray;
    -fx-text-fill: white;
}

.header-label {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #54008f, #00388b);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 2em;
    font-family: monospace;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-width: 2px;
    -fx-padding: 10px 20px;
    -fx-alignment: center;
}

.rectangle {
    -fx-fill: gray;
}
