* {
    font-family: "Courier New", monospace, Arial, Helvetica, sans-serif;
    -fx-text-fill: white;
}

.anchor-pane {
    -fx-background-color: rgb(41, 41, 41);
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #00ffcc;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-border-color: #00ffcc;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #00ffcc;
    -fx-text-fill: #1e1e1e;
}

.button:pressed {
    -fx-background-color: #abffee;
    -fx-text-fill: #1e1e1e;
}

.header-label {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #00ffcc, #ff00ff);
    -fx-text-fill: white;
    -fx-font-size: 2em;
    font-family: "Courier New", monospace;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-padding: 10px 20px;
    -fx-alignment: center;
}

.side-bar {
    -fx-fill: #2c2c2c;
    -fx-border-color: #00ffcc;
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
}

/* Label styling */
.homeLabels{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-color: #00ffcc;
    -fx-border-radius: 10px;
    -fx-background-color: #333333;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-alignment: center-left;
}

.homeLabels:hover{

    -fx-border-color: #ff00ff;

}

.homeHeaderLabels {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-fill: #ff00ff;
    -fx-background-color: #2c2c2c;
    -fx-padding: 10px 15px;
    -fx-border-color: #ff00ff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}


/* Battery Styling */
.batteryBar {
    -fx-accent: #00ffcc;
    -fx-background-color: #1e1e1e;
    -fx-border-color: #00ffcc;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
}

.batteryBar:hover {
    -fx-accent: #ff00ff;
    -fx-border-color: #ff00ff;
}

.batteryBar .track {
    -fx-background-color: #333333;
    -fx-background-radius: 10px;
}

.batteryBar .bar {
    -fx-background-color: linear-gradient(0% 0% to 100% 100%, #00ffcc, #00ffee);
    -fx-background-radius: 10px;
}

.batteryBar .bar : hover {
    -fx-background-color: linear-gradient(0% 0% to 100% 100%, #00ffee, #00ffcc);
}




